body{
    background-color: rgb(211, 255, 240);
}

.heading{
    margin: 0px;
    width: 100%;
    box-shadow:10px 10px 10px rgb(71, 131, 79);
}

.nota{
    font-size: 15px;
    color: black;
}

.copy_right_footer{
    position: fixed;
    bottom: 0;
    background-color: darkseagreen;
    width: 100%;
    line-height: 3;
    text-align: center;
    color: white;
}